// Imports
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oxygen:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap");

// Brand Variables
$brand_font_01: "Oxygen", sans-serif;
$brand_font_02: "Noto Serif", serif;
$brand_font_03: "Roboto", sans-serif;
$brand_color_01: #6797a3;

html {
   font-size: 1em;
   * {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
   }
}

body {
   max-width: 1920px;
   margin: auto;
   * {
      font-family: $brand_font_03;
      font-weight: 100;
   }
}
h1,
h2,
h3,
h4,
h5.h6 {
   font-family: $brand_font_01;
   font-weight: 300;
}

p {
   font-size: 0.9em;
   line-height: 1.75;
   @media screen and (min-width: 75em) {
      font-size: 1.25em;
   }
}

h1 {
   font-size: 1.75em;
   @media screen and (min-width: 75em) {
      font-size: 3em;
   }
}

//Main
.main-content {
   //Text Content
   article.main-content__profile {
      height: 100vh;
      min-height: 800px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: 75em) {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
      }

      //Portrait Section
      section.main-content__profile--portrait {
         margin-bottom: 50px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         img {
            width: 250px;
            max-width: 500px;
            height: 250px;
            max-height: 500px;
            object-fit: cover;
            object-position: top;
            border-radius: 500px;
            padding: 25px;

            @media screen and (min-width: 75em) {
               width: 500px;
               height: 500px;
            }
         }
      } //end of portrait

      //Text Section
      section.main-content__profile--text {
         padding: 0px 35px;
         max-width: 600px;
         margin: 0px auto 0px auto;
         h1 {
            margin-bottom: 5px;
         }
         p {
            margin-bottom: 30px;
         }

         @media screen and (min-width: 25em) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
         }

         @media screen and (min-width: 75em) {
            margin-left: 13%;
            max-width: none;

            h1 {
               margin-bottom: 25px;
            }
            p {
               margin-bottom: 50px;
            }
         }

         //Form
         form.main-content__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media screen and (min-width: 25em) {
               flex-direction: row;
            }
            .email-field input {
               width: 250px;
               height: 40px;
               border-style: none;
               border-radius: 150px;
               margin-bottom: 15px;
               background: rgb(235, 235, 235);
               text-indent: 20px;
               @media screen and (min-width: 25em) {
                  margin: 0px;
                  margin-right: 10px;
               }
               @media screen and (min-width: 75em) {
                  margin: 0px;
                  margin-right: 20px;
                  width: 410px;
                  height: 75px;
                  text-indent: 40px;
                  font-size: 1.25em;
               }
            }
            .submit-field input {
               width: 100px;
               height: 40px;
               border-style: none;
               border-radius: 150px;
               background: $brand_color_01;
               color: white;
               font-family: $brand_font_01;
               &:hover {
                  cursor: pointer;
               }
               @media screen and (min-width: 75em) {
                  margin: 0px;
                  width: 160px;
                  height: 75px;
                  font-size: 1.25em;
               }
            }
         } //end of form

         // Socials
         div.main-content__socials {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            a {
               margin: 10px;
               border: 2px solid $brand_color_01;
               padding: 10px;
               border-radius: 50px;
               display: flex;
               flex-direction: column-reverse;
               align-items: center;
               justify-content: center;
               transition: all 0.5s ease-in-out;

               svg {
                  color: #6797a3;
                  transition: all 0.5s ease-in-out;
               }
               &:hover {
                  background: $brand_color_01;
                  svg {
                     color: white;
                  }
               }
            }
         }
      }
   }
}

// Change Theme Button
aside.theme-toggle {
   position: fixed;
   bottom: 20px;
   right: 20px;
   button {
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-style: none;
      background: none;
      animation: heartbeat 1.5s ease-in-out infinite both;

      p {
         margin-left: 5px;
      }

      &:hover {
         cursor: pointer;
         animation: none;
         outline: transparent;
      }
      &:focus {
         outline: transparent;
      }
   }
}

// Keyframes
@keyframes heartbeat {
   from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
   }
   10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
   }
   17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
   }
   33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
   }
   45% {
      transform: scale(1);
      animation-timing-function: ease-out;
   }
}
